@use '../variables' as v;
@use '../mixins' as m;

.about-text {
    text-align: left;
    margin: 0 auto;
    color: v.$body-text;
    line-height: 1.8;
    font-size: 1.05rem;

    @include m.dark {
        color: v.$muted-dark;
    }
}